.button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
    outline: none;

    &:active {
        border-style: outset;
    }

    &:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    &.black {
        color: white;
        background-color: black;
    }

    &.gray {
        color: #111827;
        background-color: #E5E7EB;
    }

    &.white {
        color: black;
        background-color: transparent;
        border-color: #D1D5DB;
    }

    &.red {
        color: white;
        background-color: #EF4444;
    }

    &.purple {
        color: white;
        background: #6d28d9;
    }
}