services:
  frontend:
    build:
      context: .
      dockerfile: apps/online-chess/Dockerfile
    ports:
      - '8080:80'
    environment:
      NGINX_BACKEND_ADDRESS: http://backend:3000

    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile

    environment:
      PORT: 3000
      DATABASE_URL: postgres://myuser:mypassword@db:5432/mydatabase
      REDIS_URL: redis://redis
      JWT_SECRET: example-secret
      RUST_LOG: DEBUG

    depends_on:
      - db
      - redis

  db:
    image: postgres:14

    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase

  redis:
    image: redis:8
