.landing_page {
  overflow: auto;
    height: 100%;
    background: linear-gradient(to bottom, #F9FAFB, #F3F4F6);
}

.content {
    text-align: center;
    margin-top: 20rem;
}

.title {
    font-weight: bold;
    font-size: 4rem;
    margin: 2rem 0;
}

.subtitle {
    font-size: 2rem;
    color: #4B5563
}

.buttons {

}