.player_paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 5%;

    .player_name {
        font-size: 4rem;
        text-transform: capitalize;
    }

    .player_rating {
        font-size: 1.5rem;
    }

    .profile_photo {
        height: 100%;
        outline-width: 2px;
        outline-style: solid;
        border-radius: 50%;
    }
}

.white {
    background-color: white;
    color: black;
}

.purple {
    background-color: #6d28d9;
    color: white;
}