.chessboard {
    aspect-ratio: 1/1;
    height: 100%;

    position: relative;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.board_img {
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: 0;
}