.chessboard {
    aspect-ratio: 1/1;
    height: 100%;

    position: relative;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.board_img {
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: 0;
}

.piece {
    position: absolute;
    z-index: 2;
    user-select: none;
}

.square {
    position: absolute;
    z-index: 1;

    &.light {
        background-color: #f0d9b5;
    }

    &.dark {
        background-color: #b58863;
    }
}