.home_page {
    overflow: auto;
    height: 100%;
    background: linear-gradient(to bottom, #F9FAFB, #F3F4F6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_paper {
    width: 50%;
    height: 90%;
    box-sizing: border-box;
    position: relative;
    
    background-color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    border: none;

    border-radius: 6%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 3%;
}

.profile_photo {
    height: 40%;
    aspect-ratio: 1/1;
}

.username {
    font-size: 8rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.rank_paper {
   height: 10%;
   min-width: 30%;
   box-sizing: border-box;

   padding: 1.5%;

   display: flex;
   justify-content: space-around;
   align-items: center;

   background-color: #f9fafb;
}

.trophy_icon {
    height: 100%;
    aspect-ratio: 1/1;
}

.rank_text {
    font-size: 3rem;
    font-weight: bold;
}

.play_button {
    height: 12%;
    width: 60%;
    margin: 4% 0;

    font-size: 2.5rem;
    font-weight: bolder;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.logout_button {
    position: absolute;
    height: 7%;
    aspect-ratio: 1/1;

    top: 2%;
    left: 2%;

    background-color: transparent;
    border: none;
    padding: 0;

    img {
        width: 100%;
        aspect-ratio: 1/1;
    }
}