.overlay {
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 2rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    z-index: 1001;
}